<div class="container">

    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title">Add Assignment</h1>
            <div class="content">
                <form method="POST">
                    <div class="field">
                        <label class="label">Assignment Title</label>
                        <div class="control">
                            <input type="text" class="input" name="assignmentTitle" placeholder="Ex: Final Exam" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Course</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option value="" selected disabled>Choose course...</option>
                                    <option value="Example Course">Example Course</option>
                                    <option value="Example Course">Example Course</option>
                                    <option value="Example Course">Example Course</option>
                                    <option value="Example Course">Example Course</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Grade Component</label>
                        <div class="control">
                            <div class="select">
                                <select>
                                    <option value="" selected disabled>Choose grade category...</option>
                                    <option value="Homework">Homework</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="button is-primary" type="submit">
                        Add Assignment
                    </button>
                    <a href="/" class="button is-primary is-light">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>

</div>