<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Dashboard</h1>
            <h2>Your Courses</h2>
        </div>
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Course Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < courses.length; i++) { let course = courses[i]; %>
                    <tr>
                        <td><%= course.courseName %></td>
                        <td></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>